body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f8f9fa;
  text-align: center;
}

.user {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  padding: 10px 10px;
  cursor: pointer;
  background-color: #7ed77c;
  color: #fff;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #a1cbf8;
}
.addBtn {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #7ed77c;
  color: #fff;
  border: none;
  border-radius: 5px;
}
.openBtn {
  display: none;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  padding: 5px 10px;
  cursor: pointer;
  color: #fff;
  border: none;
  border-radius: 5px;
}

h1 {
  text-align: center;
  padding: 20px;
  color: #a1cbf8;
  font-size: 50px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#usersList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  margin-top: 15px;
}

.user {
  width: 300px;
  margin: 10px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user h2 {
  margin: 0;
  margin-bottom: 5px;
}

.user p {
  margin: 0;
  margin-bottom: 5px;
}

.user button {
  margin: 0;
  margin-top: 10px;
}
